@import './variables.scss';

body {
  margin: 0;
} 

.wrapper {
  display: grid;
  margin-top: 32px;
  grid-template-columns: 1fr 80vw 1fr;
  grid-column-gap: 24px;

  > * {
    grid-column: 2;
  }
}
 
.full-bleed {
  grid-column: 1 / -1;
}

.error-message {
  display: inline-block;
  color: $error-color;
  margin-top: 4px;
}

.spacer {
  flex-grow: 1;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 60px;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $border-color;
  padding: 0px 8px;
  box-sizing: border-box;
}

.layout-main {
  margin-top: 80px;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-body {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  margin-top: 60px;
  width: 100%;
}

.side-menu {
  width: 260px;
  box-sizing: border-box;
  border-right: 1px solid $border-color;
  background-color: #f8f9fa;
  overflow-y: auto;
  padding: 12px 16px;

  .mantine-button-root {
    margin-bottom: 8px;
  }

  .mantine-button-inner {
    justify-content: flex-start;
  }
}

.main-content {
  height: calc(100vh - 60px);
  flex-grow: 1;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr calc(100% - 48px) 1fr;
  }
}
